// MachineMax colors

// primary

$light-primary: #033860;
$light-primary-contrast: #ffffff;

$dark-primary: #033860;
$dark-primary-contrast: #ffffff;

// accent/secondary

$light-accent: #ffc600;
$light-accent-contrast: #000000;

$dark-accent: #ffc600;
$dark-accent-contrast: #000000;

// common

$page-background: #0338602f;
