<footer
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="center start"
  fxLayoutGap.lt-md="30px"
>
  <div fxLayout="column" fxLayoutGap="10px">
    <div>
      LightMetrics, Inc. is committed to privacy. For more information refer to our
      <a href="https://www.lightmetrics.co/privacy-policy/" target="_blank">Privacy Policy.</a>
    </div>
    <div>Copyright &#169; {{ data?.copyrightyear }} LightMetrics, Inc.</div>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    fxLayout.lt-lg="column"
    fxLayoutAlign.lt-lg="center start"
    fxLayoutGap.lt-lg="10px"
  >
    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
      <mat-icon>mail</mat-icon>
      <a href="mailto:support@lightmetrics.co">support@lightmetrics.co</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
      <mat-icon>call</mat-icon>
      <a href="tel:+18884416699">+1 888 441 6699</a>
    </div>
  </div>
</footer>
