<div
  class="stats"
  fxLayout="row"
  fxLayout.md="column"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="space-between stretch"
  fxLayoutAlign.xs="start stretch"
  fxLayoutGap="24px"
>
  <div fxFlex="50">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutAlign.xs="start stretch" fxLayoutGap="24px">
      <mat-card class="stats-card" fxFlex="50">
        <div class="skeleton-loader" *ngIf="loader">
          <div class="skeleton-line"></div>
          <div class="skeleton-line"></div>
        </div>
        <ng-container *ngIf="!loader">
          <div class="card-title">{{ 'fleetStatsTrips' | translate }}</div>
          <div class="card-text">
            {{ fleetStats.tripCount | abbreviateNumber }}
          </div>
        </ng-container>
      </mat-card>

      <mat-card class="stats-card" fxFlex="50">
        <div class="skeleton-loader" *ngIf="loader">
          <div class="skeleton-line"></div>
          <div class="skeleton-line"></div>
        </div>
        <ng-container *ngIf="!loader">
          <div class="card-title">
            {{ 'fleetStatsDistance' | translate }}
            <span *ngIf="currentMetricUnit === 'Miles'">{{ 'unitMiles' | translate }}</span>
            <span *ngIf="currentMetricUnit === 'Kilometers'">{{ 'unitKilometers' | translate }}</span>
          </div>
          <div class="card-text">
            {{
              fleetStats?.distance | distance: currentMetricUnit | abbreviateNumber | formatNumber: (dataService._currentLanguage | async)
            }}
          </div>
        </ng-container>
      </mat-card>
    </div>
  </div>

  <div fxFlex="50">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutAlign.xs="start stretch" fxLayoutGap="24px">
      <mat-card class="stats-card" fxFlex="50">
        <div class="skeleton-loader" *ngIf="loader">
          <div class="skeleton-line"></div>
          <div class="skeleton-line"></div>
        </div>
        <ng-container *ngIf="!loader">
          <div class="card-title">{{ 'fleetStatsIncidentsPer' | translate }} {{ currentMetricUnit | uppercase | translate }}</div>
          <div class="card-text">
            {{ fleetStats?.eventsPer100Units | number: '1.0-2' | formatNumber: (dataService._currentLanguage | async) }}
            <ng-container *ngIf="fleetStats?.totalEventsDiff < 0">
              <mat-icon class="arrow-icon arrow-green">arrow_downward</mat-icon>
            </ng-container>
            <ng-container *ngIf="fleetStats?.totalEventsDiff > 0">
              <mat-icon class="arrow-icon arrow-red">arrow_upward</mat-icon>
            </ng-container>
            <span *ngIf="fleetStats?.totalEventsDiff !== 0" class="event-value-percentage">
              {{ fleetStats?.totalEventsDiff | formatNumber: (dataService._currentLanguage | async) }} %
            </span>
          </div>
        </ng-container>
      </mat-card>

      <mat-card class="stats-card" fxFlex="50">
        <div class="skeleton-loader" *ngIf="loader">
          <div class="skeleton-line"></div>
          <div class="skeleton-line"></div>
        </div>
        <ng-container *ngIf="!loader">
          <div class="card-title">{{ 'fleetStatsDuration' | translate }}</div>
          <div class="card-text">
            {{ fleetStats?.tripDuration | duration2: 'seconds':'h' | abbreviateNumber }}
          </div>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>
