@import './fonts';
@import './variables';

.events-count-percentage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.event-value-percentage {
  font-size: $caption-font-size;
}

.chart-area {
  overflow: hidden;
}
