@import './fonts';

.input-search {
  height: 56px;
  padding: 0;
  margin-left: 16px;
  width: 90%;
}

.custom-tag-assignment {
  ::ng-deep .mat-select-value {
    height: 48px !important;
  }
}

::ng-deep .mat-optgroup-label {
  font-size: $caption-font-size !important;
  text-transform: uppercase;
  font-family: $font-family;
}
