@import './variables';

.sub-heading {
  font-style: italic;
}

.coaching-config {
  border: 1px solid $light-border;
  padding: 16px;
  border-radius: 4px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
