// securex colors

// primary

$light-primary: #004990;
$light-primary-contrast: #ffffff;

$dark-primary: #004990;
$dark-primary-contrast: #ffffff;

// accent/secondary

$light-accent: #e21a23;
$light-accent-contrast: #ffffff;

$dark-accent: #e21a23;
$dark-accent-contrast: #ffffff;

// common

$page-background: #0049902f;
