<div class="table-wrap">
  <table mat-table [dataSource]="attributeListDataSource">
    <ng-container matColumnDef="attrName">
      <th mat-header-cell *matHeaderCellDef>{{ 'AttributeTableAttributeName' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loader" class="skeleton-line" style="max-width: 240px"></div>
        <ng-container *ngIf="!loader">{{ element?.attributeName }}</ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>{{ 'OverviewTableComponentType' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loader" class="skeleton-line" style="max-width: 240px"></div>
        <ng-container *ngIf="!loader">{{ element?.attributeType || '-' }}</ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'tripListComponentStatus' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loader" class="skeleton-line" style="max-width: 240px"></div>
        <ng-container *ngIf="!loader">
          <ng-container *ngIf="element?.status; else noStatus">
            <mat-chip class="chip-success" *ngIf="element?.status === 'ACTIVE'">ACTIVE</mat-chip>
            <mat-chip class="chip-error" *ngIf="element?.status === 'INACTIVE'">INACTIVE</mat-chip>
          </ng-container>
          <ng-template #noStatus>
            <span>-</span>
          </ng-template>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="entity">
      <th mat-header-cell *matHeaderCellDef>{{ 'AttributeTableEntity' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loader" class="skeleton-line" style="max-width: 240px"></div>
        <ng-container *ngIf="!loader">
          <ng-container *ngIf="!!element?.entities?.length; else noTags">
            <span *ngFor="let entity of element?.entities; let i = index">
              {{entity | titlecase}}
              <ng-container *ngIf="!(i === element?.entities?.length - 1)">,</ng-container>
            </span>
          </ng-container>
          <ng-template #noTags>
            <span>-</span>
          </ng-template>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef>{{ 'AttributeTableCreatedOn' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loader" class="skeleton-line" style="max-width: 240px"></div>
        <ng-container *ngIf="!loader">
          {{
            element?.createdAt
              ? (element?.createdAt | dateConversion : (dataService._currentTimeZone | async) : (dataService._currentDateFormat | async))
              : '-'
          }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef>{{ 'AttributeTableCreatedBy' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loader" class="skeleton-line" style="max-width: 240px"></div>
        <ng-container *ngIf="!loader">
          {{ element?.createdBy?.name || element?.createdBy?.email || '-' }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdated">
      <th mat-header-cell *matHeaderCellDef>{{ 'AttributeTableLastUpdatedOn' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loader" class="skeleton-line" style="max-width: 240px"></div>
        <ng-container *ngIf="!loader">
          {{
            element?.updatedAt
              ? (element?.updatedAt | dateConversion : (dataService._currentTimeZone | async) : (dataService._currentDateFormat | async))
              : '-'
          }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'AttributeTableActions' | translate }}</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div *ngIf="loader" class="skeleton-line" style="max-width: 240px"></div>
        <span *ngIf="!loader" fxLayout="row" fxLayoutGap="8px">
          <button
            mat-icon-button
            color="accent"
            matTooltip="{{ 'AttributeTableRenameAttributeToolTip' | translate }}"
            matTooltipPosition="left"
            (click)="editAttribute(element)"
            *appCheckPermissions="['update:fleet_config']"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" color="accent"
          [disabled]="!hasUpdatePermission">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu="matMenu" xPosition="before">

            <ng-container>
              <button
                *ngIf="element?.status === 'INACTIVE'; else deactivateTag"
                mat-menu-item
                matTooltip="{{ 'TagsTableComponentActivateTag' | translate }}"
                (click)="openConfirmationDialog(element, 'ACTIVE')"
              >
                <mat-icon>check_circle</mat-icon>
                <span>{{ 'AttributeTableActivateAttribute' | translate }}</span>
              </button>
            </ng-container>

            <ng-template #deactivateTag>
              <button mat-menu-item [disabled]="element?.status === 'INACTIVE'" (click)="openConfirmationDialog(element, 'INACTIVE')">
                <mat-icon>block</mat-icon>
                <span>{{ 'AttributeTableDeactivateAttribute' | translate }}</span>
              </button>
            </ng-template>

            <button
              mat-menu-item
              matTooltip="{{ 'AttributeTableDeleteAttributeToolTip' | translate }}"
              (click)="openConfirmationDialog(element, 'DELETE')"
            >
              <mat-icon>delete</mat-icon>
              <span>{{ 'AttributeTableDeleteAttributeToolTip' | translate }}</span>
            </button>
          </mat-menu>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <app-alert *ngIf="attributeListDataSource?.data?.length === 0 && !loader" [alertType]="'info'" [insideTable]="true">
    {{ 'AttributeTableNoAttributeFound' | translate }}
  </app-alert>

  <mat-paginator
    #paginator="matPaginator"
    class="trip-list-paginator"
    [length]="totalCount"
    [pageSize]="tablePageSize"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
