<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start stretch" fxLayoutGap="24px">
    <app-custom-configurations-expansion-panel
        [expansionPanelConfig]="assetConfigService.customSettingExpansionPanelConfig"
        (formChanged)="onFormChanged($event)"
        class="width-100"
    ></app-custom-configurations-expansion-panel>
    <button
      *appCheckPermissions="['update:fleet_config']"
      mat-flat-button
      class="save-btn"
      color="accent"
      fxFlexAlign="end"
      (click)="onSaveChanges()"
      [disabled]="settingsForm().invalid || (assetConfigService.isCustomConfigDirty | async) === false"
      [loading]="assetConfigService.isCustomUpdatingConfig | async"
    >
      {{ 'customConfiguratonSave' | translate }}
    </button>
</div>