// Polysurance colors

// primary

$light-primary: #161c2d;
$light-primary-contrast: #ffffff;

$dark-primary: #161c2d;
$dark-primary-contrast: #ffffff;

// accent/secondary

$light-accent: #335eea;
$light-accent-contrast: #ffffff;

$dark-accent: #335eea;
$dark-accent-contrast: #ffffff;

// common

$page-background: #161c2d2f;
