@import './variables';

.shortcut-key {
  background-color: $light-background;
  padding: 4px 8px;
  font-family: 'Courier New';
  margin: 0 4px;
  border-radius: 2px;
  font-size: 14px;
}

.dark-theme {
  &.shortcut-key {
    background-color: $dark-background !important;
  }
}
