// geotab colors

// primary

$light-primary: #3c5063;
$light-primary-contrast: #ffffff;

$dark-primary: #3c5063;
$dark-primary-contrast: #ffffff;

// accent/secondary

$light-accent: #0078d3;
$light-accent-contrast: #ffffff;

$dark-accent: #0078d3;
$dark-accent-contrast: #ffffff;

// common

$page-background: #ffffff;
