// fleettracking colors

// primary

$light-primary: #44a2e9;
$light-primary-contrast: #ffffff;

$dark-primary: #44a2e9;
$dark-primary-contrast: #ffffff;

// accent/secondary

$light-accent: #e9453d;
$light-accent-contrast: #ffffff;

$dark-accent: #e9453d;
$dark-accent-contrast: #ffffff;

// common

$page-background: #44a2e92f;
