.feature-announcement-container {
  position: relative;
  display: block;
}

.feature-description {
  margin-bottom: 0 !important;
  li {
    line-height: 24px;
  }
}

.agreement-container {
  overflow-x: hidden;
  padding-left: 48px;
}
