// Magtec colors

// primary

$light-primary: #444444;
$light-primary-contrast: #ffffff;

$dark-primary: #000000;
$dark-primary-contrast: #666666;

// accent/secondary

$light-accent: #d32030;
$light-accent-contrast: #ffffff;

$dark-accent: #d32030;
$dark-accent-contrast: #ffffff;

// common

$page-background: #4444442f;
