<footer
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="center start"
  fxLayoutGap.lt-md="30px"
>
  <div fxLayout="column" fxLayoutGap="10px">
    <div>Copyright &#169; {{ data?.copyrightyear }} Zonar Inc.</div>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    fxLayout.lt-lg="column"
    fxLayoutAlign.lt-lg="center start"
    fxLayoutGap.lt-lg="10px"
  >
    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
      <mat-icon>mail</mat-icon>
      <a href="mailto:customercare@zonarsystems.com">customercare@zonarsystems.com</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
      <mat-icon>call</mat-icon>
      <a href="tel:(877)-843-3847">(877)-843-3847 #1</a>
    </div>
  </div>
</footer>
