@import './variables';
@import './fonts';

.btn-map {
  position: absolute;
  z-index: 1000;
  top: 146px !important;
  background: $white-color;
  width: 29px;
  height: 29px;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #f4f4f4;
  }

  mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
  }
}

.btn-layers {
  top: 146px !important;
}

.btn-recenter {
  top: 184px !important;
}

.direction-info {
  position: absolute;
  left: 8px;
  z-index: 1000;
  bottom: 56px;
  cursor: default;
  background-color: $orange-color;
}

.speed {
  position: absolute;
  background: $white-color;
  cursor: default;
  z-index: 1000;
  font-size: $body-font-size;
  padding: 8px;
  border-radius: 2px;
}
