// keytec colors

// primary

$light-primary: #83aebf;
$light-primary-contrast: #121212;

$dark-primary: #83aebf;
$dark-primary-contrast: #121212;

// accent/secondary

$light-accent: #1e3e72;
$light-accent-contrast: #ffffff;

$dark-accent: #0044b1;
$dark-accent-contrast: #ffffff;

// common

$page-background: #83aebf2f;
