<div fxLayout="column" fxLayoutGap="24px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="title">{{ 'changePasswordHeader' | translate }}</h3>
    <button
      mat-icon-button
      mat-dialog-close
      matTooltip="{{ 'userSettingsComponentClose' | translate }}"
      matTooltipPosition="left"
      *ngIf="!showSuccess"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <span class="sub-text">
    {{ 'changePasswordDescription' | translate }}
  </span>

  <form fxLayout="column" fxLayoutGap="16px" autocomplete="off" novalidate [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'changePasswordOldPassword' | translate }}</mat-label>
      <input matInput [type]="hidePreviousPassword ? 'password' : 'text'" formControlName="previousPassword" />
      <button type="button" mat-icon-button matSuffix (click)="hidePreviousPassword = !hidePreviousPassword">
        <mat-icon>{{ hidePreviousPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'changePasswordNewPassword' | translate }}</mat-label>
      <input matInput [type]="hideProposedPassword ? 'password' : 'text'" formControlName="proposedPassword" />
      <mat-hint>
        {{ 'changePasswordNewPasswordError' | translate }}
      </mat-hint>
      <mat-error *ngIf="changePasswordForm.get('proposedPassword').hasError('pattern')">
        {{ 'changePasswordNewPasswordError' | translate }}
      </mat-error>
      <button type="button" mat-icon-button matSuffix (click)="hideProposedPassword = !hideProposedPassword">
        <mat-icon>{{ hideProposedPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'changePasswordConfirmPassword' | translate }}</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmProposedPassword" />
      <mat-hint>{{ 'changePasswordConfirmPasswordHint' | translate }}</mat-hint>
      <mat-error *ngIf="changePasswordForm.get('confirmProposedPassword').value !== changePasswordForm.get('proposedPassword').value">{{
        'changePasswordConfirmPasswordError' | translate
      }}</mat-error>
      <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <div fxFlexAlign="end">
    <button
      mat-flat-button
      color="accent"
      [loading]="loader"
      type="button"
      (click)="onSubmit()"
      [disabled]="changePasswordForm?.invalid || showSuccess"
    >
      {{ 'changePasswordSubmit' | translate }}
    </button>
  </div>

  <app-alert *ngIf="!loader && showError" [alertType]="'error'" [removeMargin]="true">
    {{ 'changePasswordFailed' | translate }}
  </app-alert>

  <app-alert *ngIf="!loader && showSuccess" [alertType]="'success'" [removeMargin]="true">
    {{ 'changePasswordSuccess' | translate }} {{ countdownTimer }} {{ 'changePasswordSuccessSeconds' | translate }}
  </app-alert>
</div>
