// orbcomm colors

// primary

$light-primary: #000000;
$light-primary-contrast: #ffffff;

$dark-primary: #000000;
$dark-primary-contrast: #ffffff;

// accent/secondary

$light-accent: #bd1d2b;
$light-accent-contrast: #ffffff;

$dark-accent: #bd1d2b;
$dark-accent-contrast: #ffffff;

// common

$page-background: #eeeeee;
