// drivesafe colors

// primary

$light-primary: #818a90;
$light-primary-contrast: #ffffff;

$dark-primary: #818a90;
$dark-primary-contrast: #ffffff;

// accent/secondary

$light-accent: #f58320;
$light-accent-contrast: #ffffff;

$dark-accent: #f58320;
$dark-accent-contrast: #ffffff;

// common

$page-background: #818a902f;
