// loconav colors

// primary

$light-primary: #1eacb2;
$light-primary-contrast: #ffffff;

$dark-primary: #1eacb2;
$dark-primary-contrast: #ffffff;

// accent/secondary

$light-accent: #1eb290;
$light-accent-contrast: #ffffff;

$dark-accent: #1eb290;
$dark-accent-contrast: #ffffff;

// common

$page-background: #1eacb22f;
